<footer class="footer mt-auto">
    <div class="container">
        <div class="f-info text-center">
            <div class="f-info-socials mb-2">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <div class="f-info-brand mb-2">
                &copy; Wanderlust Private Limited
            </div>

            <div class="f-info-links">
                <a href="/term">Terms</a>
                <a href="/privacy">Privacy</a>
            </div>
        </div>
    </div>
</footer>