<% layout("/layouts/boilerplate") %>

    <body style="background-color: white;">
        <div class="row mt-2">
            <div class="col-8 offset-2">
                <h3>Create new Listing</h3><br>
                <form action="/listings" method="post" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" class="form-control" type="text" placeholder="Add a title"
                            name="listing[title]" required>
                        <div class="valid_feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" placeholder="Enter description"
                            name="listing[description]" required></textarea>
                    </div>


                    <div class="mb-3">
                        <label for="image[url]" class="form-label">choose file</label>
                        <input id="image[url]" class="form-control" type="file" placeholder="Paste image url"
                            name="image" required>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label fw-semibold">
                            Category
                        </label>

                        <select class="form-select" id="category" name="listing[category]" required>
                            <option value="" disabled selected>Select category</option>
                            <option value="trending">Trending</option>
                            <option value="rooms">Rooms</option>
                            <option value="iconic-cities">Iconic Cities</option>
                            <option value="mountains">Mountains</option>
                            <option value="amazing-pools">Amazing Pools</option>
                            <option value="camping">Camping</option>
                            <option value="farms">Farms</option>
                            <option value="arctic">Arctic</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a category.
                        </div>

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" class="form-control" type="number" placeholder="1200"
                                name="listing[price]" required>
                            <!-- <div class="invalid-feedback">Please enter a valid price</div> -->
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input id="country" class="form-control" type="text" placeholder="India"
                                name="listing[country]" required>
                            <!-- <div class="invalid-feedback">Please enter the country name</div> -->
                        </div>
                    </div>

                    <div class="mb-3">

                        <label for="location" class="form-label">Location</label>
                        <input id="location" class="form-control" type="text" placeholder="enter location"
                            name="listing[location]" required>
                        <!-- <div class="invalid-feedback"> location should be valid</div> -->
                    </div>
                    <br>
                    <button class="btn btn-dark add-btn">Add</button>
                </form>
            </div>
        </div>
        <br>
    </body>